.app-row > * {
    width: 30%;
    border: 0px solid var(--pallet-dynamic-borders);
    border-radius: 5px;
    background-color: var(--pallet-neutral);
    min-width: 100px;



}

.app-row select {
    font-size: 2.5em;
    font-family: 'Oswald', sans-serif;

}

.app-row {
    display: flex;
    justify-content: space-between;
    padding: 2%;
    height: 100%;
    font-family: 'Oswald', sans-serif;


 }


