.app-row > * {
    width: 20%;
    border: px solid var(--pallet-dynamic-borders);
    border-radius: 5px;
    
    background-color: var(--pallet-neutral);


}

.app-row {
    display: flex;
    justify-content: space-between;
    padding: 2%;
    font-family: Arial, Helvetica, sans-serif;
    height: 100%


 }


