:root{
    --pallet-bg: #101D42;
    --pallet-hot: #A63D40;
    --pallet-cool: #677DB7;
    --pallet-neutral: #DCC7BE;
    --pallet-off-neutral: #CBB9A8; 

    --pallet-inner-borders: black;
    --pallet-dynamic-borders: black;
    --pallet-full-border: var(--pallet-cool);

    background-color: var(--pallet-bg);
    font-family: 'Oswald', sans-serif;
}


.cell-row {
    display: flex;
    width: min-content;
    
    
}

.cell-table {
    border-style: solid;
    border: 2px solid var(--pallet-inner-borders);
    border-radius: 5px;
    background-color: var(--pallet-neutral);
    width: min-content;
    margin: auto;
    padding: 2%;
    margin-top:2%;
    

}

.board-bottom {
    border-top-color: var(--pallet-bg);
    border-top-width: 2px;
    border-top-style: solid;
    margin:auto

    
}

.board {
    cursor: default;
    background-color: var(--pallet-cool);
    border-radius: 5px;
    border: 0px solid var(--pallet-full-border);
    padding:0px 5%;
    padding-bottom: 2%;
    width: fit-content;

    /*
    margin: auto;
    */
}

