:root{
    --pallet-bg: #101D42;
    --pallet-hot: #A63D40;
    --pallet-cool: #677DB7;
    --pallet-neutral: #DCC7BE;
    --pallet-off-neutral: #CBB9A8; 

}

.cell {
    height: 30px;
    width: 30px;
    border-style: solid;
    border-color: var(--pallet-inner-borders);
    background-color: var(--pallet-off-neutral);
    color: white;
    border-width: 1px;
    border-radius: 5px;
    flex: 0 0 auto;

}

.status {
    margin:auto;
    color: black;
}

.clicked {
    background-color: var(--pallet-bg);
    display: block;
}



.un-clicked {
    display: none;
}

.cell > .win-state {
    background-color: var(--pallet-cool);
}

.status-tile {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.status-tile > img {
    width: 80%;
    height: 80%;
}

/*
.status-tile > span {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}
*/

.cell-content {
    width: 100%;
    height: 100%;
}

@keyframes flash {
    0%, 50%, 100% {
       background-color: var(--pallet-neutral);
    }
    25%, 75% {
       background-color: var(--pallet-off-neutral);
    }
 }
 
 .cell:hover {
    animation: flash 1s linear infinite;
 }

/*Specific styling for each of the possible mine-proximity indicators*/

.status-0 > span {
    display: none;
}

.mine {

    background-color:var(--pallet-off-neutral);
    border: 0 solid black;
    border-radius: 5px;
}

.mine > * {
    filter: invert(28%) sepia(67%) saturate(769%) hue-rotate(313deg) brightness(95%) contrast(92%);  

}


