:root{
    --pallet-bg: #101D42;
    --pallet-hot: #A63D40;
    --pallet-cool: #677DB7;
    --pallet-neutral: #DCC7BE;
    --pallet-off-neutral: #CBB9A8; 

}

.cell {
    height: 40px;
    width: 40px;
    border-style: solid;
    border-color: black;
    background-color: var(--pallet-off-neutral);
    color: white;
    border-width: 1px;
    border-radius: 5px;
    flex: 0 0 auto;

}

.status {
    margin:auto;
    color: black;
}

.clicked {
    background-color: var(--pallet-cool);
    display: block;
}

.un-clicked {
    display: none;
}



.status-tile {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.status-tile > img {
    width: 80%;
    height: 80%;
}

/*
.status-tile > span {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}
*/

.cell-content {
    width: 100%;
    height: 100%;
}

/*Specific styling for each of the possible mine-proximity indicators*/

.status-0 > span {
    display: none;
}


