p {
    margin: 0 2%;
    height: 100%;
}

.dropdown-menu:hover {
    background-color: var(--pallet-off-neutral);
}
.dropdown-menu {
    border-radius: 5px;
    height: 100%;
}

.dropdown-items {
    position: absolute;
    font-size: 1em;
    top: 125%;
    width: 100%;
    background-color: var(--pallet-neutral);
    border: 1px solid var(--pallet-bg);
    border-radius: 5px;

}

.display-on {
    display: block;
}

.display-off {
    display: none;
}

.dropdown-items ul{
    margin: 5% 0;
    padding: 0;
}

.dropdown-items ul li {
    list-style-type: none;
    padding-left: 5%;
}

.dropdown-items ul li:hover {
    background-color: var(--pallet-off-neutral)
}

.dropdown {
    position: relative;
}