.flag-count {
    display: flex;
    justify-content: space-between;
}

.img-frame {
    width: 25%;
    margin: 2%;
    border: 1px solid orange;
}

img {
    border-color: orange;
}

.flag-count p {
    margin: 0;
    font-family: 'Oswald', sans-serif;
    font-size: 2.5em;
}

