.flag-count {
    display: flex;
    justify-content: space-between;
}

.img-frame {
    width: 25%;
    min-width: 50px;
    margin: 2%;
    
}

.flag-icon {
    padding-top: 5%;
}

.flag-count p {
    margin: 2%;
    font-family: 'Oswald', sans-serif;
    font-size: 2.5em;
}

